

.head-C-entrance{
    background-color: whitesmoke;
    margin-top: 1.5rem;
    border-radius: 0 0 15px 15px;
    padding: 2rem;

}

.entrance-password{
    margin: 3rem 0;
    display: flex;
    gap: 15px;
}

.entrance-label-pw{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.entrance-input-pw{
    background-color: whitesmoke;
    border-color: #33baed ;
    padding: 0.5rem ;
    border-radius: 12px;
    margin-top: -0.5rem;
    font-size: 17px;
    color: black;
}
.entrance-input-error{
    display: flex;
    background-color: rgb(247, 98, 82);
    padding: 1rem ;
    border-radius: 15px;
    color: white;
    margin: -1rem 10rem 2rem 10rem;
    box-shadow: 0px 0px 10px  salmon;
    font-weight: 700;
}
.entrance-input-valid{
    display: flex;
    background-color: rgb(69, 243, 139);
    padding: 1rem ;
    border-radius: 15px;
    color: white;
    margin: -1rem 10rem 2rem 10rem;
    box-shadow: 0px 0px 6px  rgb(17, 245, 59);
    font-weight: 700;
}

.entrance-input-pw:focus {
  outline: none;
  border:none;
  border-color: #3a7dd5;
  box-shadow: 0 0 4px 2px rgba(51, 131, 236, 0.908);
}

.entrance-biometry{
    display: flex;
    justify-content: space-around;
    gap:30px;
    font-size: 30px;
}

.container-biometry{
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
}


.container-biometry-pf{
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
}




@media (max-width: 500px) and (min-width: 100px) {
    .entrance-biometry{
    display: grid;
    grid-template-columns: 100 100;

    }

    .entrance-password{
         display: grid;
         grid-gap: 23px;
         padding: auto;

    }
    .entrance-input-pw{
        padding: 1rem ;
        width: 90%;
        font-size: 22px;
    }

    .entrance-input-error{
    margin: 0;
    margin-bottom: 1rem;
}
.entrance-input-valid{
  margin: 0;
  margin-bottom: 1rem;
}

}

h4{
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}